<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="advanced search, agency, agent, classified, directory, house, listing, property, real estate, real estate agency, real estate agent, realestate, realtor, rental">
<meta name="description" content="Homez - Real Estate HTML Template">
<meta name="CreativeLayers" content="ATFN">

 {% load static %}

<!-- Favicon -->
<link href="{% static 'images/favicon.ico' %}" sizes="128x128" rel="shortcut icon" type="image/x-icon" />
<link href="{% static 'images/favicon.ico' %}" sizes="128x128" rel="shortcut icon" />
    <!-- css file -->

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'css/ace-responsive-menu.css' %}">
<link rel="stylesheet" href="{% static 'css/menu.css' %}">
<link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
<link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
<link rel="stylesheet" href="{% static 'css/animate.css' %}">
<link rel="stylesheet" href="{% static 'css/slider.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/ud-custom-spacing.css' %}">
<!-- Responsive stylesheet -->
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
<!-- Title -->
<title>Kayzpropel</title>
<!-- Apple Touch Icon -->
<link href="{% static 'images/apple-touch-icon-60x60.png' %}" sizes="60x60" rel="apple-touch-icon">
<link href="{% static 'images/apple-touch-icon-72x72.png' %}" sizes="72x72" rel="apple-touch-icon">
<link href="{% static 'images/apple-touch-icon-114x114.png' %}" sizes="114x114" rel="apple-touch-icon">
<link href="{% static 'images/apple-touch-icon-180x180.png' %}" sizes="180x180" rel="apple-touch-icon">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src=" https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src=" https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

</head>
<body>
<div class="wrapper ovh">
  <div class="preloader"></div>
  
  <!-- Main Header Nav -->
  <header class="header-nav nav-innerpage-style main-menu">
    <!-- Ace Responsive Menu -->
    <nav class="posr w-100  justify-content-between align-items-center  d-flex mx-0 ">


              <div class="logos mr40">
               <img class="header-logo logo1" src="{% static 'images/header-logo.png' %}" alt="Header Logo">
              </div>
              <!-- Responsive Menu Structure-->
              <ul id="respMenu" class="ace-responsive-menu w-75" data-menu-style="horizontal">
                <li class="visible_list"> <a class="list-item" href="{% url 'index' %}"><span class="title">Home</span></a>
                  <!-- Level Two-->
                </li>
                <li class="megamenu_style"> <a  class="list-item" href="#"><span class="title">Listing</span></a>
                  <ul class="row dropdown-megamenu">
                    <li class="col mega_menu_list">
                      <h4 class="title">Grid View</h4>
                      <ul>
                        <li><a href="{% url 'grid-default' %}">Grid Default v1</a></li>
                        <li><a href="{% url 'banner' %}">Banner Search v1</a></li>
                      </ul>
                    </li>
                    <li class="col mega_menu_list">
                      <h4 class="title">Map Style</h4>
                      <ul>
                        <li><a href="{% url 'property-header' %}">Header Map Style</a></li>
                      </ul>
                    </li>
                    <li class="col mega_menu_list">
                      <h4 class="title">List View</h4>
                      <ul>
                        <li><a href="{% url 'property-list' %}">List v1</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="visible_list"> <a class="list-item" href="{% url 'dashboard' %}"><span class="title">Dashboard</span></a>
                    </li>
                <li class="visible_list"> <a class="list-item" href="#"><span class="title">Blog</span></a>
                  <ul>
                    <li><a href="{% url 'blog1' %}">List V1</a></li>
                    <li><a href="{% url 'blog-single' %}">Single</a></li>
                  </ul>
                </li>
                  <li class="visible_list"> <a class="list-item" href="{% url 'about' %}"><span class="title">About us</span></a>
                </li>
                  <li class="visible_list"> <a class="list-item" href="{% url 'contact' %}"><span class="title">contacts</span></a>
                </li>
                  <li class="visible_list"> <a class="list-item" href="{% url 'pricing' %}"><span class="title">Pricing & invoices</span></a>
                </li>
              </ul>


            <div class="d-flex align-items-center mx-0">
{#              <a class="login-info d-flex align-items-center" data-bs-toggle="modal" href="#exampleModalToggle" role="button"><i class="far fa-user-circle fz16 me-2"></i> <span class="d-none d-xl-block">Login / Register</span></a>#}
              <a class="ud-btn add-property menu-btn bdrs60 mx-2 mx-xl-4" href="{% url 'add' %}">Add Property<i class="fal fa-arrow-right-long"></i></a>
{#              <a class="sidemenu-btn filter-btn-right" href="#"><img class="img-1" src="{% static 'images/icon/nav-icon-white.svg' %}" alt=""><img class="img-2" src="{% static 'images/icon/nav-icon-dark.svg' %}" alt=""></a>#}
            </div>
    </nav>
  </header>
  <!-- Signup Modal -->
  <div class="signup-modal">
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalToggleLabel">Welcome to Realton</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="log-reg-form">
              <div class="navtab-style2">
                <nav>
                  <div class="nav nav-tabs mb20" id="nav-tab" role="tablist">
                    <button class="nav-link active fw600" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Sign In</button>
                    <button class="nav-link fw600" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">New Account</button>
                  </div>
                </nav>
                <div class="tab-content" id="nav-tabContent2">
                  <div class="tab-pane fade show active fz15" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="form-style1">
                      <div class="mb25">
                        <label class="form-label fw600 dark-color">Email</label>
                        <input type="email" class="form-control" placeholder="Enter Email">
                      </div>
                      <div class="mb15">
                        <label class="form-label fw600 dark-color">Password</label>
                        <input type="text" class="form-control" placeholder="Enter Password">
                      </div>
                      <div class="checkbox-style1 d-block d-sm-flex align-items-center justify-content-between mb10">
                        <label class="custom_checkbox fz14 ff-heading">Remember me
                          <input type="checkbox" checked="checked">
                          <span class="checkmark"></span>
                        </label>
                        <a class="fz14 ff-heading" href="#">Lost your password?</a>
                      </div>
                      <div class="d-grid mb20">
                        <button class="ud-btn btn-thm" type="button">Sign in <i class="fal fa-arrow-right-long"></i></button>
                      </div>
                      <div class="hr_content mb20"><hr><span class="hr_top_text">OR</span></div>
                      <div class="d-grid mb10">
                        <button class="ud-btn btn-white" type="button"><i class="fab fa-google"></i> Continue Google</button>
                      </div>
                      <div class="d-grid mb10">
                        <button class="ud-btn btn-fb" type="button"><i class="fab fa-facebook-f"></i> Continue Facebook</button>
                      </div>
                      <div class="d-grid mb20">
                        <button class="ud-btn btn-apple" type="button"><i class="fab fa-apple"></i> Continue Apple</button>
                      </div>
                      <p class="dark-color text-center mb0 mt10">Not signed up? <a class="dark-color fw600" href="register.html">Create an account.</a></p>
                    </div>
                  </div>
                  <div class="tab-pane fade fz15" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="form-style1">
                      <div class="mb25">
                        <label class="form-label fw600 dark-color">Email</label>
                        <input type="email" class="form-control" placeholder="Enter Email">
                      </div>
                      <div class="mb20">
                        <label class="form-label fw600 dark-color">Password</label>
                        <input type="text" class="form-control" placeholder="Enter Password">
                      </div>
                      <div class="d-grid mb20">
                        <button class="ud-btn btn-thm" type="button">Create account <i class="fal fa-arrow-right-long"></i></button>
                      </div>
                      <div class="hr_content mb20"><hr><span class="hr_top_text">OR</span></div>
                      <div class="d-grid mb10">
                        <button class="ud-btn btn-white" type="button"><i class="fab fa-google"></i> Continue Google</button>
                      </div>
                      <div class="d-grid mb10">
                        <button class="ud-btn btn-fb" type="button"><i class="fab fa-facebook-f"></i> Continue Facebook</button>
                      </div>
                      <div class="d-grid mb20">
                        <button class="ud-btn btn-apple" type="button"><i class="fab fa-apple"></i> Continue Apple</button>
                      </div>
                      <p class="dark-color text-center mb0 mt10">Not signed up? <a class="dark-color fw600" href="register.html">Create an account.</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Menu In Hiddn SideBar -->
  <div class="rightside-hidden-bar">
    <div class="hsidebar-header">
      <div class="sidebar-close-icon"><span class="far fa-times"></span></div>
      <h4 class="title">Welcome to Realton</h4>
    </div>
    <div class="hsidebar-content">
      <div class="hiddenbar_navbar_content">
        <div class="hiddenbar_navbar_menu">
          <ul class="navbar-nav">
            <li class="nav-item"> <a class="nav-link" href="#" role="button">Apartments</a></li>
            <li class="nav-item"> <a class="nav-link" href="#" role="button">Bungalow</a></li>
            <li class="nav-item"> <a class="nav-link" href="#" role="button">Houses</a></li>
            <li class="nav-item"> <a class="nav-link" href="#" role="button">Loft</a></li>
            <li class="nav-item"> <a class="nav-link" href="#" role="button">Office</a></li>
            <li class="nav-item"> <a class="nav-link" href="#" role="button">Townhome</a></li>
            <li class="nav-item"> <a class="nav-link" href="#" role="button">Villa</a></li>
          </ul>
        </div>
        <div class="hiddenbar_footer position-relative bdrt1">
          <div class="row pt45 pb30 pl30">
            <div class="col-auto">
              <div class="contact-info">
                <p class="info-title dark-color">Total Free Customer Care</p>
                <h6 class="info-phone dark-color"><a href="%2b(0)-123-050-945-02.html">+(0) 123 050 945 02</a></h6>
              </div>
            </div>
            <div class="col-auto">
              <div class="contact-info">
                <p class="info-title dark-color">Nee Live Support?</p>
                <h6 class="info-mail dark-color"><a href="mailto:hi@homez.com">hi@homez.com</a></h6>
              </div>
            </div>
          </div>
          <div class="row pt30 pb30 bdrt1">
            <div class="col-auto">
              <div class="social-style-sidebar d-flex align-items-center pl30">
                <h6 class="me-4 mb-0">Follow us</h6>
                <a class="me-3" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="me-3" href="#"><i class="fab fa-twitter"></i></a>
                <a class="me-3" href="#"><i class="fab fa-instagram"></i></a>
                <a class="me-3" href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End Menu In Hiddn SideBar --> 
  <!-- Filter Content In Hiddn SideBar -->
  <div class="lefttside-hidden-bar">
    <div class="hsidebar-header">
      <div class="sidebar-close-icon"><span class="far fa-times"></span></div>
      <h4 class="title">Find your home</h4>
    </div>
    <div class="hsidebar-content">
    </div>
  </div>
  <!--End Filter Content In Hiddn SideBar -->

  <div class="hiddenbar-body-ovelay"></div>

 <!-- Mobile Nav  -->
  <div id="page" class="mobilie_header_nav stylehome1">
    <div class="mobile-menu">
      <div class="header innerpage-style">
        <div class="menu_and_widgets">
          <div class="mobile_menu_bar d-flex justify-content-between align-items-center">
            <a class="menubar" href="#menu"><img src="{% static 'images/mobile-dark-nav-icon.svg' %}" alt=""></a>
            <a class="mobile_logo" href="#"><img src="{% static 'images/header-logo2.svg' %}" alt=""></a>
            <a href="{% url 'login' %}"><span class="icon fz18 far fa-user-circle"></span></a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.mobile-menu -->
    <nav id="menu" class="">
      <ul>
        <li><span>Home</span>
        </li>
        <li><span>Property Listing</span>
          <ul>
            <li><span>Listing Grid</span>
              <ul>
                <li><a href="{% url 'grid-default' %}">Grid Default v1</a></li>
                <li><a href="{% url 'banner' %}">Banner Search v1</a></li>
              </ul>
            </li>
            <li><span>List Style</span>
              <ul>
                <li><a href="{% url 'property-list' %}">Style V1</a></li>
              </ul>
            </li>
            <li><span>Listing Single</span>
              <ul>
                <li><a href="{% url 'single' %}">Single V1</a></li>


              </ul>
            </li>
            <li><span>Map Style</span>
              <ul>
                <li><a href="{% url 'property-header' %}">Map Header</a></li>

              </ul>
            </li>
          </ul>
        </li>
        <li><span>User Dashboard</span>
        </li>
        <li><span>Blog</span>
          <ul>
            <li><a href="{% url 'blog1' %}">List V1</a></li>
            <li><a href="{% url 'blog-single' %}">Single</a></li>
          </ul>
        </li>
        <li><span>About us</span>
        </li>
          <li><span>contact</span>
        </li>
        <li class="px-3 mobile-menu-btn">
          <a href="{% url 'add' %}" class="ud-btn btn-thm text-white">Submit Property<i class="fal fa-arrow-right-long"></i></a>
        </li>
        <!-- Only for Mobile View -->
      </ul>
    </nav>
  </div>
  <div class="body_content">
    <!-- Blog Section Area -->
    <section class="our-blog pt50">
      <div class="container">
        <div class="row wow fadeInUp" data-wow-delay="100ms">
          <div class="col-lg-12">
            <h2 class="blog-title">7 Simple Ways to Keep Your Kids' Toys From Taking Over Your Home</h2>
            <div class="blog-single-meta">
              <div class="post-author d-sm-flex align-items-center">
                <img class="mr10" src="{% static 'images/blog/author-1.png' %}" alt=""><a class="pr15 bdrr1" href="#">Leslie Alexander</a><a class="ml15 pr15 bdrr1" href="#">Home Improvement</a><a class="ml15" href="#">December 2, 2022</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mx-auto maxw1600 mt60 wow fadeInUp" data-wow-delay="300ms">
        <div class="row">
          <div class="col-lg-12">
            <div class="large-thumb"><img class="w-100" src="{% static 'images/blog/blog-single-1.jpg' %}" alt=""></div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="roww wow fadeInUp" data-wow-delay="500ms">
          <div class="col-xl-8 offset-xl-2">
            <div class="ui-content mt40 mb60">
              <h4 class="mb10">1. Reduce the clutter</h4>
              <p class="mb25 ff-heading">It doesn’t matter how organized you are — a surplus of toys will always ensure your house is a mess waiting to happen. Fortunately, getting kids on board with the idea of ditching their stuff is a lot easier than it sounds.</p>
              <p class="ff-heading">The trick is to make it an opportunity for them to define themselves and their interests. Encourage kids to make a pile of ”baby toys” to donate, and have them set aside any toys that no longer interest them, such as action figures from a forgotten TV show. Separating these toys will help them appreciate how much they’ve grown and rediscover the toys they love.</p>
            </div>
            <div class="blockquote-style1 mb60">
              <blockquote class="blockquote">
                <p class="fst-italic fz15 fw500 ff-heading">Aliquam hendrerit sollicitudin purus, quis rutrum mi accumsan nec. Quisque bibendum orci ac nibh facilisis, at malesuada orci congue.</p>
                <h6 class="quote-title">Luis Pickford</h6>
              </blockquote>
            </div>
            <div class="ui-content">
              <h4 class="title">2. Choose toys wisely</h4>
            </div>
            <div class="row">
              <div class="col-auto">
                <div class="ui-content">
                  <div class="list-style1">
                    <ul>
                      <li><i class="far fa-check text-thm3 bgc-thm3-light"></i>Become a UI/UX designer.</li>
                      <li><i class="far fa-check text-thm3 bgc-thm3-light"></i>You will be able to start earning money Figma skills.</li>
                      <li><i class="far fa-check text-thm3 bgc-thm3-light"></i>Build a UI project from beginning to end.</li>
                      <li><i class="far fa-check text-thm3 bgc-thm3-light"></i>Work with colors & fonts.</li>
                      <li><i class="far fa-check text-thm3 bgc-thm3-light"></i>You will create your own UI Kit.</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <div class="ui-content">
                  <div class="list-style1">
                    <ul>
                      <li><i class="far fa-check text-thm3 bgc-thm3-light"></i>Build & test a complete mobile app.</li>
                      <li><i class="far fa-check text-thm3 bgc-thm3-light"></i>Learn to design mobile apps & websites.</li>
                      <li><i class="far fa-check text-thm3 bgc-thm3-light"></i>Design 3 different logos.</li>
                      <li><i class="far fa-check text-thm3 bgc-thm3-light"></i>Create low-fidelity wireframe.</li>
                      <li><i class="far fa-check text-thm3 bgc-thm3-light"></i>Downloadable exercise files.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 mt40">
              <img src="{% static 'images/blog/blog-single-2.jpg' %}" alt="" class="bdrs12 post-img-2 w-100">
            </div>
            <div class="ui-content mt40 mb30">
              <h4 class="mb10">3.Leave some toys out of reach</h4>
              <div class="custom_bsp_grid">
                <ul class="list-style-type-bullet p-0 ml20">
                  <li>We do not require any previous experience or pre-defined skills to take this course. A great orientation would be enough to master UI/UX design.</li>
                  <li>A computer with a good internet connection.</li>
                  <li>Adobe Photoshop (OPTIONAL)</li>
                </ul>
              </div>
            </div>
            <div class="bdrt1 bdrb1 d-block d-sm-flex justify-content-between pt50 pt30-sm pb50 pb30-sm">
              <div class="blog_post_share d-flex align-items-center mb10-sm">
                <span class="mr30">Share this post</span>
                <a class="mr20" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="mr20" href="#"><i class="fab fa-twitter"></i></a>
                <a class="mr20" href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
              <div class="bsp_tags d-flex">
                <a class="mr10" href="#">Figma</a>
                <a class="mr10" href="#">Sketch</a>
                <a href="#">HTML5</a>
              </div>
            </div>
            <div class="bsp_comments bdrb1 d-block d-sm-flex justify-content-between pt30 pb45 pb30-sm">
              <div class="mbp_first d-flex">
                <div class="flex-shrink-0"> <img src="{% static 'images/blog/comments-1.png' %}" class="mr-3" alt="comments-1.png"> </div>
                <div class="flex-grow-1 ml30">
                  <h6 class="mb0">Brooklyn Simmons</h6>
                  <div class="text fz13 mb20">Medical Assistant</div>
                  <p class="text">Etiam vitae leo et diam pellentesque porta. Sed eleifend ultricies risus, vel rutrum erat commodo ut. Praesent finibus congue euismod.</p>
                </div>
              </div>
            </div>
            <div class="mbp_pagination_tab bdrb1">
              <div class="row justify-content-between pt45 pt30-sm pb45 pb30-sm">
                <div class="col-md-6">
                  <div class="pag_prev">
                    <a href="#">
                      <h6><span class="fas fa-chevron-left pe-2"></span> Previous Post</h6>
                      <p class="fz13 text mb-0">Given Set was without from god divide rule Hath</p>
                    </a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="pag_next">
                    <a href="#" class="text-end">
                      <h6>Next Post<span class="fas fa-chevron-right ps-2"></span></h6>
                      <p class="fz13 text mb-0">Tree earth fowl given moveth deep lesser After</p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="product_single_content mb50">
              <div class="mbp_pagination_comments">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="total_review d-flex align-items-center justify-content-between mb20 mt60">
                      <h6 class="fz17 mb15"><i class="fas fa-star fz12 pe-2"></i>5.0 · 3 reviews</h6>
                      <div class="page_control_shorting d-flex align-items-center justify-content-center justify-content-sm-end">
                        <div class="pcs_dropdown mb15"><span>Sort by</span>
                          <select class="selectpicker show-tick">
                            <option>Newest</option>
                            <option>Best Seller</option>
                            <option>Best Match</option>
                            <option>Price Low</option>
                            <option>Price High</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="mbp_first position-relative d-flex align-items-center justify-content-start mb30-sm">
                      <img src="{% static 'images/blog/comments-2.png' %}" class="mr-3" alt="comments-2.png">
                      <div class="ml20">
                        <h6 class="mt-0 mb-0">Bessie Cooper</h6>
                        <div><span class="fz14">12 March 2022</span>
                          <div class="blog-single-review">
                            <ul class="mb0 ps-0">
                              <li class="list-inline-item me-0"><a href="#"><i class="fas fa-star review-color2 fz10"></i></a></li>
                              <li class="list-inline-item me-0"><a href="#"><i class="fas fa-star review-color2 fz10"></i></a></li>
                              <li class="list-inline-item me-0"><a href="#"><i class="fas fa-star review-color2 fz10"></i></a></li>
                              <li class="list-inline-item me-0"><a href="#"><i class="fas fa-star review-color2 fz10"></i></a></li>
                              <li class="list-inline-item me-0"><a href="#"><i class="fas fa-star review-color2 fz10"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <p class="text mt20 mb20">Every single thing we tried with John was delicious! Found some awesome places we would definitely go back to on our trip. John was also super friendly and passionate about Beşiktaş and Istanbul.</p>
                    <ul class="mb20 ps-0">
                      <li class="list-inline-item mb5-xs"><img class="bdrs6" src="{% static 'images/blog/blog-single-3.jpg' %}" alt="review-img"></li>
                      <li class="list-inline-item mb5-xs"><img class="bdrs6" src="{% static 'images/blog/blog-single-4.jpg' %}" alt="review-img"></li>
                      <li class="list-inline-item mb5-xs"><img class="bdrs6" src="{% static 'images/blog/blog-single-5.jpg' %}" alt="review-img"></li>
                      <li class="list-inline-item mb5-xs"><img class="bdrs6" src="{% static 'images/blog/blog-single-6.jpg' %}" alt="review-img"></li>
                    </ul>
                    <div class="review_cansel_btns d-flex bdrb1 pb30">
                      <a href="#"><i class="fas fa-thumbs-up"></i>Helpful</a>
                      <a href="#"><i class="fas fa-thumbs-down"></i>Not helpful</a>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="mbp_first position-relative d-flex align-items-center justify-content-start mt30 mb30-sm">
                      <img src="{% static 'images/blog/comments-2.png' %}" class="mr-3" alt="comments-2.png">
                      <div class="ml20">
                        <h6 class="mt-0 mb-0">Darrell Steward</h6>
                        <div><span class="fz14">12 March 2022</span>
                          <div class="blog-single-review">
                            <ul class="mb0 ps-0">
                              <li class="list-inline-item me-0"><a href="#"><i class="fas fa-star review-color2 fz10"></i></a></li>
                              <li class="list-inline-item me-0"><a href="#"><i class="fas fa-star review-color2 fz10"></i></a></li>
                              <li class="list-inline-item me-0"><a href="#"><i class="fas fa-star review-color2 fz10"></i></a></li>
                              <li class="list-inline-item me-0"><a href="#"><i class="fas fa-star review-color2 fz10"></i></a></li>
                              <li class="list-inline-item me-0"><a href="#"><i class="fas fa-star review-color2 fz10"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <p class="text mt20 mb20">Every single thing we tried with John was delicious! Found some awesome places we would definitely go back to on our trip. John was also super friendly and passionate about Beşiktaş and Istanbul.</p>
                    <ul class="mb20 ps-0">
                      <li class="list-inline-item mb5-xs"><img class="bdrs6" src="{% static 'images/blog/blog-single-3.jpg' %}" alt="review-img"></li>
                      <li class="list-inline-item mb5-xs"><img class="bdrs6" src="{% static 'images/blog/blog-single-4.jpg' %}" alt="review-img"></li>
                      <li class="list-inline-item mb5-xs"><img class="bdrs6" src="{% static 'images/blog/blog-single-5.jpg' %}" alt="review-img"></li>
                      <li class="list-inline-item mb5-xs"><img class="bdrs6" src="{% static 'images/blog/blog-single-6.jpg' %}" alt="review-img"></li>
                    </ul>
                    <div class="review_cansel_btns d-flex bdrb1 pb30">
                      <a href="#"><i class="fas fa-thumbs-up"></i>Helpful</a>
                      <a href="#"><i class="fas fa-thumbs-down"></i>Not helpful</a>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="position-relative bdrb1 pt30 pb20">
                      <a href="{% url 'single' %}" class="ud-btn btn-white2">Show all 134 reviews<i class="fal fa-arrow-right-long"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="bsp_reveiw_wrt">
              <h6 class="fz17">Leave A Review</h6>
              <form class="comments_form mt30">
                <div class="row">
                  <div class="col-md-12">
                    <div class="mb-4">
                      <label class="fw600 ff-heading mb-2">Email</label>
                      <input type="email" class="form-control" placeholder="creativelayers088">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-4">
                      <label class="fw600 ff-heading mb-2">Title</label>
                      <input type="text" class="form-control" placeholder="Enter Title">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="widget-wrapper sideborder-dropdown mb-4">
                      <label class="fw600 ff-heading mb-2">Rating</label>
                      <div class="form-style2 input-group">
                        <select class="selectpicker" data-live-search="true" data-width="100%">
                          <option>Rating</option>
                          <option data-tokens="Five Star">Five Star</option>
                          <option data-tokens="Four Star">Four Star</option>
                          <option data-tokens="Three Star">Three Star</option>
                          <option data-tokens="Two Star">Two Star</option>
                          <option data-tokens="One Star">One Star</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="mb-4">
                      <label class="fw600 ff-heading mb-2">Review</label>
                      <textarea class="pt15" rows="6" placeholder="Write a Review"></textarea>
                    </div>
                    <a href="{% url 'single' %}" class="ud-btn btn-white2">Submit Review<i class="fal fa-arrow-right-long"></i></a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Explore Apartment -->
    <section class="pb90 pb20-md pt-0">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 m-auto wow fadeInUp" data-wow-delay="00ms">
            <div class="main-title text-start text-md-center">
              <h2 class="title">Related Posts</h2>
              <p class="paragraph">Aliquam lacinia diam quis lacus euismod</p>
            </div>
          </div>
        </div>
        <div class="row wow fadeInUp" data-wow-delay="300ms">
          <div class="col-sm-6 col-lg-4">
            <div class="blog-style1">
              <div class="blog-img"><img class="w-100" src="{% static 'images/blog/blog-1.jpg' %}" alt=""></div>
              <div class="blog-content">
                <div class="date">
                  <span class="month">July</span>
                  <span class="day">28</span>
                </div>
                <a class="tag" href="#">Living Room</a>
                <h6 class="title mt-1"><a href="{% url 'blog-single' %}">Private Contemporary Home Balancing Openness</a></h6>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="blog-style1">
              <div class="blog-img"><img class="w-100" src="{% static 'images/blog/blog-2.jpg' %}" alt=""></div>
              <div class="blog-content">
                <div class="date">
                  <span class="month">July</span>
                  <span class="day">28</span>
                </div>
                <a class="tag" href="#">Living Room</a>
                <h6 class="title mt-1"><a href="{% url 'blog-single' %}">Private Contemporary Home Balancing Openness</a></h6>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="blog-style1">
              <div class="blog-img"><img class="w-100" src="{% static 'images/blog/blog-3.jpg' %}" alt=""></div>
              <div class="blog-content">
                <div class="date">
                  <span class="month">July</span>
                  <span class="day">28</span>
                </div>
                <a class="tag" href="#">Living Room</a>
                <h6 class="title mt-1"><a href="{% url 'blog-single' %}">Private Contemporary Home Balancing Openness</a></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
 <!-- Our Footer -->
    <section class="footer-style1 pt60 pb-0">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <div class="footer-widget mb-4 mb-lg-5">
              <a class="footer-logo" href="{% url 'index' %}"><img class="mb40" src="{% static 'images/header-logo.png' %}" alt=""></a>
              <div class="row mb-4 mb-lg-5">
                <div class="col-auto">
                  <div class="contact-info">
                    <p class="info-title">Total Free Customer Care</p>
                    <h6 class="info-phone"><a href="%2b(0)-123-050-945-02.html">+254 791 579 344</a></h6>
                  </div>
                </div>
                <div class="col-auto">
                  <div class="contact-info">
                    <p class="info-title">Nee Live Support?</p>
                    <h6 class="info-mail"><a href="https://mail.google.com/mail/u/0/#inbox?compose=new">kayzsaid@gmail.com</a></h6>
                  </div>
                </div>
              </div>
              <div class="app-widget">
                <h5 class="title text-white mb10">Apps</h5>
                <div class="row mb-4 mb-lg-5">
                  <div class="col-auto">
                    <a href="https://www.apple.com/store">
                      <div class="app-info d-flex align-items-center mb10">
                        <div class="flex-shrink-0">
                          <i class="fab fa-apple fz30 text-white"></i>
                        </div>
                        <div class="flex-grow-1 ml20">
                          <p class="app-text fz13 mb0">Download on the</p>
                          <h6 class="app-title text-white fz14">Apple Store</h6>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-auto">
                    <a href="https://play.google.com/store/games?device=windows&pli=1">
                      <div class="app-info d-flex align-items-center mb10">
                        <div class="flex-shrink-0">
                          <i class="fab fa-google-play fz30 text-white"></i>
                        </div>
                        <div class="flex-grow-1 ml20">
                          <p class="app-text fz13 mb0">Get in on</p>
                          <h6 class="app-title text-white fz14">Google Play</h6>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="social-widget">
                <h6 class="text-white mb20">Follow us on social media</h6>
                <div class="social-style1">
                  <a href="https://x.com/Kayzpro4"><i class="fab fa-twitter list-inline-item"></i></a>
                  <a href="https://instagram.com/kayzpro.6.9.1"><i class="fab fa-instagram list-inline-item"></i></a>
                  <a href="https://www.linkedin.com/in/said-kisiwa"><i class="fab fa-linkedin-in list-inline-item"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="footer-widget mb-4 mb-lg-5">
              <div class="mailchimp-widget mb-4 mb-lg-5">
                <h6 class="title text-white mb20">Keep Yourself Up to Date</h6>
                <div class="mailchimp-style1">
                  <input type="email" class="form-control" placeholder="Your Email">
                  <button type="submit">Subscribe</button>
                </div>
              </div>
              <div class="row justify-content-between">
                <div class="col-auto">
                  <div class="link-style1 mb-3">
                    <h6 class="text-white mb25">Popular Search</h6>
                    <div class="link-list">
                      <a href="#">Apartment to Rent</a>
                      <a href="#">Apartment to buy</a>
                    </div>
                  </div>
                </div>
                <div class="col-auto">
                  <div class="link-style1 mb-3">
                    <h6 class="text-white mb25">Quick Links</h6>
                    <ul class="ps-0">
                      <li><a href="{% url 'terms' %}">Terms of Use</a></li>
                      <li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
                      <li><a href="{% url 'pricing' %}">Pricing Plans</a></li>
                      <li><a href="{% url 'contact' %}">Contact Support</a></li>
                      <li><a href="{% url 'faq' %}">FAQs</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-auto">
                  <div class="link-style1 mb-3">
                    <h6 class="text-white mb25">Discover</h6>
                    <ul class="ps-0">
                      <li>Nairobi</li>
                      <li>Mombasa</li>
                      <li>Diani</li>
                      <li>Malindi</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container white-bdrt1 py-4">
        <div class="row">
          <div class="col-sm-6">
            <div class="text-center text-lg-start">
              <p class="copyright-text text-gray ff-heading">© kayzpropel - All rights reserved</p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="text-center text-lg-end">
              <p class="footer-menu ff-heading text-gray"><a class="text-gray" href="{% url 'privacy' %}">Privacy</a>  ·  <a href="{% url 'terms' %}">Terms</a>  ·  <a href="{% url 'site' %}">Sitemap</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <a class="scrollToHome" href="#"><i class="fas fa-angle-up"></i></a>
  </div>
</div>
<!-- Wrapper End --> 
<script src="{% static 'js/jquery-3.6.4.min.js' %}"></script> 
<script src="{% static 'js/jquery-migrate-3.0.0.min.js' %}"></script> 
<script src="{% static 'js/popper.min.js' %}"></script> 
<script src="{% static 'js/bootstrap.min.js' %}"></script> 
<script src="{% static 'js/bootstrap-select.min.js' %}"></script> 
<script src="{% static 'js/jquery.mmenu.all.js' %}"></script> 
<script src="{% static 'js/ace-responsive-menu.js' %}"></script> 
<script src="{% static 'js/jquery-scrolltofixed-min.js' %}"></script> 
<script src="{% static 'js/wow.min.js' %}"></script> 
<!-- Custom script for all pages -->
<script src="{% static 'js/script.js' %}"></script>
</body>

<!-- Mirrored from creativelayers.net/themes/homez-html/page-blog-single.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 15 Nov 2023 13:00:48 GMT -->
</html>